* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-text-smoothing: antialiased;
  -moz-osx-text-smoothing: grayscale;
}


:root {
  --primary-color: #ff282c; /* Coral vibrante */
  --secondary-color: #4caf50; /* Verde claro */
  --background-color: black;
  --text-color: white;
  --light-gray: #ddd;
  --white: #ffffff;
  --blue: #101336;
  --blue-light: #a4ccec;
  --blue-light-two: #0077b6;
  --green-light: #02c5bd;
  --gray: #515167;
  --border:rgb(49, 49, 49);
}


body {
  font-family: "Poppins", sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
}


header {
  box-shadow: 0 0.125rem 0.3125rem var(--border);
  padding: 0.625rem 3.125rem 0 3.125rem;
}

header .logo {
  max-height: 3.75rem;
}

.nav-link {
  color: var(--text-color);
  font-weight: 500;
  transition: color 0.3s ease;
}

.nav-link:hover {
  color: var(--primary-color);
}

html.light {
  --primary-color: #ff282c;
  --secondary-color: #4caf50;
  --background-color: white;
  --text-color: #333;
  --light-gray: #ddd;
  --white: #ffffff;
  --blue: #101336;
  --blue-light: #a4ccec;
  --blue-light-two: #0077b6;
  --green-light: #02c5bd;
  --gray: #515167;
  --border:rgb(231, 231, 231);
}

html:not(.light) {
  background-color: #121212;
  color: #ffffff;
}

html:not(.light) .offcanvas {
  background-color: #333;
color: #fff;
}

html.light {
  background-color: #ffffff;
  color: #000000;
}

html.light .offcanvas {
  background-color: #fff;
 color: #000;
}

html.light .ph-sun,
html:not(.light) .ph-moon {
  display: none;
}
html:not(.light) .ph-sun {
  color: white;
}

.navbar-toggler,
.navbar-toggler i {
  color: black;
}


html:not(.light) .navbar-toggler,
html:not(.light) .navbar-toggler i {
  color: white;
}

.toggle-mode {
  font-size: 2rem;
  line-height: 0;
  border: none;
  background: transparent;
  display: flex;
  flex-direction: column;
  justify-content: center;
  alight-items: center;
}

.sr-only {
  position: absolute;
  overflow: hidden;
  padding: 0rem;
  border: 0;
  appearance: none;
}

.apresentation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 32rem; /* Faz a seção ocupar a altura total da janela */
  padding: 0.625rem;
  margin: 0 auto;
  background: var(--blue);
  color: var(--white);
  animation: fadeIn 1s ease-in-out;
}

.informacoes-dog p {
  alight-items: center;
  color: var(--blue-light-two);
}

.btn-primary {
  height: 3rem;
  width: 15rem;
  background-color: var(--primary-color);
  border-radius: 6.25rem;
  font-size: 1rem;
  font-weight: 600;
}

.btn-primary:hover {
  background-color: none;
}

  .dog {
    max-width: 420px;
  }
  /* Em dispositivos com largura menor que 768px, diminua o tamanho da imagem */
  @media (max-width: 768px) {
    .dog {
      max-width: 220px;
      border: none;
    }
  }

.history-img {
  height: 40rem;
}

/* Carrossel */
.carousel-inner img {
  margin-top: 2.5rem;
  height: 31.25rem;
  object-fit: contain;
  transition: all 300ms;
}

.carousel-inner img:hover {
  transform: scale(1.05);
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: var(--primary-color);
  border-radius: 50%;
}

section h1 {
  color: var(--green-light);
}

/* Vídeo */
#video {
  background-color: var(--background-color);
  padding: 3.75rem 6.25rem;
}

#video h3 {
  color: var(--secondary-color);
  font-weight: 600;
}

video {
  border-radius: 0.625rem;
}

/* Estatísticas */
#estatisticas {
  padding: 3.75rem 1.25rem;
  background-color: var(--white);
}

#estatisticas h3 {
  color: var(--secundary-color);
  font-weight: 600;
  margin-bottom: 1.875rem;
}

.stat-card {
  background: var(--primary-color);
  color: var(--white);
  border: none;
  padding: 1.875rem;
  border-radius: 0.9375rem;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  margin: 0.625rem;
}

.stat-card:hover {
  transform: scale(1.05);
  box-shadow: 0 0.5rem 0.9375rem rgba(0, 0, 0, 0.15);
}

.stat-card h4 {
  font-size: 2.5rem;
  margin-bottom: 0.625rem;
}

.stat-card p {
  font-size: 1.2rem;
}

/* Rodapé */
footer {
  height: 5rem;
  padding: 1.25rem 0;
  margin-top: 2.5rem;
  background-color: var(--blue);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

footer p {
  margin: 0;
  font-size: 0.9rem;
}

/* Animações */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Seção Hero */
.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 70vh; /* Faz a seção ocupar a altura total da janela */
  padding: 0.625rem;
  background: var(--blue-light-two);
  color: var(--white);
  border-radius: 0.625rem;
  margin: 0 auto; /* Centraliza horizontalmente */
  box-shadow: 0 0.3125rem 0.9375rem rgba(0, 0, 0, 0.1);
  animation: fadeIn 1s ease-in-out;
}

.hero h1 {
  font-size: 2.5rem;
  font-weight: 600;
  margin-bottom: 1.25rem;
  text-align: center;
}

.hero p {
  font-size: 1.2rem;
  margin-bottom: 1.875rem;
  line-height: 1.8;
  text-align: center;
}

.hero .btn-primary {
  background-color: var(--secondary-color);
  border: none;
  padding: 0.625rem 1.875rem;
  font-size: 1.1rem;
  border-radius: 3.125rem;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.hero .btn-primary:hover {
  background-color: var(--white);
  color: var(--secondary-color);
  transform: translateY(-0.1875rem);
  box-shadow: 0 0.25rem 0.625rem rgba(0, 0, 0, 0.2);
}

/* Seção História */
.history-container {
  border-radius: 0.625rem;
  animation: fadeIn 1.5s ease-in-out;
  margin: 1.25rem auto;
  max-width: 1300px;
}

.history-container .section-title {
  font-size: 1rem;
  font-weight: 700;
  color: var(--green-light);
  margin-bottom: 1.25rem;
  text-align: justify;
}

.history-container h3 {
  text-align: left;
  color: var(--blue-light-two);
  font-size: 2rem;
  margin-bottom: 1.25rem;
}

.history-container h2 {
  text-align: left;
  color: var(--blue-light-two);
  font-size: 2rem;
  margin-bottom: 1.25rem;
}

.history-container p {
  font-size: 1rem;
  line-height: 1.8rem;
  margin-bottom: 1.25rem;
  text-align: justify;
}

.section-info {
  color: var(--gray);
  text-alight: justify;
}

.section-info-two p {
  text-align: justify;
}

/* Responsividade */
@media (max-width: 768px) {
  .history-container {
    padding: 1.875rem 0.9375rem;
  }

  .history-container .section-title {
    font-size: 2rem;
  }

  .history-container p {
    font-size: 1rem;
  }
}

/* Estilo do container da história */
.history-container {
  margin: 2.5rem auto;
  padding: 1.2rem;
  background-color: var(--background-color-light); /* Fundo suave */
  border-radius: 0.9375rem;
  box-shadow: 0 0.25rem 0.625rem rgba(0, 0, 0, 0.1);
  color: var(--text-color-dark);
  max-width: 1300px;
}

/* Estilo das seções de Missão, Visão e Valores */
.mission-vision-values-container {
  margin-bottom: 1.875rem;
  padding: 0.9375rem;
  border-left: 0.3125rem solid var(--primary-color);
  background-color: var(--secondary-color-light);
  border-radius: 0.625rem;
}

.mission-vision-values-container h3 {
  color: var(--primary-color);
  font-size: 1.5rem;
  margin-bottom: 0.625rem;
}

.mission-vision-values-container p {
  font-size: 1rem;
  line-height: 1.6;
  color: var(--text-color-dark);
}

.mission-vision-values-container ul {
  list-style-type: disc;
  margin-left: 1.25rem;
  margin-top: 0.625rem;
  font-size: 1rem;
  color: var(--text-color-dark);
}

.mission-vision-values-container ul li {
  margin-bottom: 0.5rem;
}

.mission-vision-values-container ul li strong {
  color: var(--primary-color);
}

/* Responsividade */
@media (max-width: 768px) {
  .welcome-text {
    font-size: 1.2rem;
  }

  .history-container h2 {
    font-size: 1.8rem;
  }

  .mission-vision-values-container h3 {
    font-size: 1.3rem;
  }
}

/* Keyframe para a animação do texto vindo pela lateral */
@keyframes slideInAndOut {
  0% {
    transform: translateX(100%); /* Fora da tela à direita */
  }
  25% {
    transform: translateX(0); /* Totalmente visível no centro */
  }
  75% {
    transform: translateX(0); /* Pausa no centro */
  }
  100% {
    transform: translateX(-100%); /* Sai pela esquerda */
  }
}

/* Classe para o texto animado */
.animated-text {
  font-size: 1rem;
  font-weight: bold;
  color: var(--primary-color);
  text-align: center;
  /* Esconde o texto enquanto sai da tela */
  /* Evita quebra de linha */
  /* Duração de 5s e repetição infinita */
}

/* Geral para o título da seção */
.hero-adoption {
  background-color: #5a90a6;
  color: white;
  padding: 3.125rem 0;
  border-radius: 0.5rem;
  margin-bottom: 1.875rem;
}

/* Estilização da galeria de adoção */
.adoption-gallery {
  background-color: #ffffff;
  border-radius: 0.5rem;
  padding: 1.875rem;
  box-shadow: 0 0.25rem 0.375rem rgba(0, 0, 0, 0.1);
}

.adoption-gallery h2 {
  color: #5a90a6;
  margin-bottom: 1.25rem;
  font-family: "Roboto", sans-serif;
  text-align: center;
}

/* Estilo dos cards individuais */
.pet-card {
  background-color: #f5f5f5;
  border: 1px solid #e0e0e0;
  border-radius: 0.625rem;
  padding: 1rem;
  margin-bottom: 1.25rem;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.pet-card img {
  border-radius: 0.5rem;
  height: 16.25rem;
  width: 100%;
  object-fit: cover;
  margin-bottom: 0.9375rem;
}

.pet-card img:nth-child(4) {
  height: 0.125rem;
}

.pet-card h3 {
  font-size: 1.125rem;
  color: #333333;
  margin-bottom: 0.625rem;
  text-align: center;
}

.pet-card p {
  font-size: 0.875rem;
  color: #777777;
  margin-bottom: 0.9375rem;
  text-align: center;
}

.pet-card button {
  background-color: #5a90a6;
  color: white;
  border: none;
  padding: 0.625rem 1.25rem;
  border-radius: 0.25rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.pet-card button:hover {
  background-color: #407d92;
}

.pet-card button a {
  text-decoration: none;
  color: white;
}

/* Efeito ao passar o mouse nos cards */
.pet-card:hover {
  transform: scale(1.05);
  box-shadow: 0 0.375rem 0.75rem rgba(0, 0, 0, 0.15);
}

/* Seção de Contato */
.contact-section {
  background-color: #ffffff;
  padding: 3.125rem 1.875rem;
  border-radius: 0.5rem;
  box-shadow: 0 0.25rem 0.375rem rgba(0, 0, 0, 0.1);
  margin-top: 1.875rem;
  width: 56.25rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  alight-items: center;
  margin: 0 auto;
}

.contact-section h2 {
  color: #5a90a6;
  font-family: "Roboto", sans-serif;
  margin-bottom: 0.625rem;
}

.contact-section p {
  color: #777777;
  margin-bottom: 1.875rem;
}

/* Formulário de Contato */
.contact-form-wrapper {
  background-color: var(--white);
  min-height: 300px;
  border-radius: 8px 8px 0 0;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.contact-form .form-group label {
  font-size: 0.875rem;
  line-height: 1.5rem;
  color: ##6C6A71;
}

.contact-form label {
  color: #5a90a6;
  font-size: 0.875rem;
  font-weight: bold;
}

.contact-form .form-control {
  width: 100%;
  padding: 0.625rem 0.9375rem;
  border: 0.0625rem solid #e0e0e0;
  border-radius: 0.25rem;
  font-size: 0.875rem;
  transition: border-color 0.3s ease;
}

textarea {
  padding: 0;
  height: 10.5rem;
  resize: initial;
}

.contact-form .form-control:focus {
  border-color: #5a90a6;
  outline: none;
}

.contact-form button {
  background-color: #5a90a6;
  color: white;
  border: none;
  padding: 0.625rem 1.25rem;
  font-size: 1rem;
  border-radius: 0.25rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.contact-form button:hover {
  background-color: #407d92;
}

/* Estilo Responsivo */
@media (max-width: 768px) {
  .contact-section {
    padding: 1.25rem;
    width: 29.25rem;
  }

  .contact-form button {
    font-size: 0.875rem;
  }
}

/* Botão do Chatbot */
.chatbot-toggle {
  position: fixed;
  bottom: 1.25rem;
  right: 1.25rem;
  background-color: #5a90a6;
  border: none;
  border-radius: 50%;
  padding: 0.625rem;
  cursor: pointer;
  box-shadow: 0 0.25rem 0.375rem rgba(0, 0, 0, 0.2);
  transition: transform 0.3s;
}

.chatbot-toggle:hover {
  transform: scale(1.1);
}

.chatbot-toggle img {
  width: 1.875rem;
  height: 1.875rem;
}

/* Caixa do Chatbot */
.chatbot-box {
  position: fixed;
  bottom: 5rem;
  right: 1.25rem;
  width: 18.75rem;
  background-color: white;
  border-radius: 0.5rem;
  box-shadow: 0 0.25rem 0.375rem rgba(0, 0, 0, 0.2);
  display: none;
  flex-direction: column;
  z-index: 1000;
}

/* Cabeçalho do Chatbot */
.chatbot-header {
  background-color: #5a90a6;
  color: white;
  padding: 0.625rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

.chatbot-header h4 {
  margin: 0;
}

/* Mensagens do Chatbot */
.chatbot-messages {
  padding: 0.125rem;
  height: 11.25rem;
  overflow-y: auto;
  font-size: 0.625rem;
  color: #333;
}

/* Entrada de Mensagens */
.chatbot-input {
  display: flex;
  padding: 0.625rem;
  border-top: 0.0625rem solid #e0e0e0;
}

.chatbot-input input {
  flex: 1;
  padding: 0.625rem;
  border: 0.0625rem solid #e0e0e0;
  border-radius: 0.25rem;
  margin-right: 0.625rem;
}

.chatbot-input button {
  background-color: #5a90a6;
  color: white;
  border: none;
  padding: 0.125rem 0.125rem;
  border-radius: 0.25rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.chatbot-input button:hover {
  background-color: #407d92;
}


/* Hero Section */
.hero-donation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #0d3b66;
  height: 27rem;
}

.hero-donation h1 {
  font-size: 2.5rem;
  margin-bottom: 0.9375rem;
}

.hero-donation p {
  font-size: 1.2rem;
  margin-bottom: 1.5625rem;
}

.hero-donation .btn {
  background-color:;
  padding: 0.625rem 1.25rem;
  text-decoration: none;
  border-radius: 0.3125rem;
  border: none;
}

.hero-donation .btn:hover {
  background-color: #ee964b;
}

.donation-info h2 {
  font-size: 2rem;
  margin-bottom: 0.9375rem;
}

.donation-info p {
  font-size: 1.2rem;
}

.img-custom {
  width: 8.75rem;  
  height: 8.75rem;
  object-fit: cover;
}

/* Comments Section */
.donor-comments {
  background-color: #ffffff;
  padding: 2.5rem 1.25rem;
  border-radius: 0.625rem;
  margin-bottom: 2.5rem;
}

.donor-comments h2 {
  font-size: 2rem;
  color: #0d3b66;
  margin-bottom: 1.5625rem;
}

.comments-container {
  display: flex;
  gap: 1.25rem;
  flex-wrap: wrap;
  justify-content: center;
}

.comment-card {
  background-color: #f4d35e;
  padding: 1.25rem;
  border-radius: 0.625rem;
  color: #0d3b66;
  max-width: 18.75rem;
  text-align: center;
  box-shadow: 0 0.25rem 0.375rem rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}

.comment-card:hover {
  transform: scale(1.05);
}

.comment-card p {
  font-size: 1rem;
  margin-bottom: 0.625rem;
  height: 6.25rem;
}

.comment-card h4 {
  font-size: 1.2rem;
  font-weight: bold;
}

.statistics {
  background-color: #3a3a3a; /* Altere para se alinhar ao tema do site */
  padding: 2.5rem 0;
  border-radius: 0.625rem;
  margin-top: 1.25rem;
}

.statistics h3 {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 0.625rem;
}

.statistics p {
  font-size: 1.125rem;
  margin: 0;
}

header {
  animation: fromTop 600ms 100ms backwards;
}

section {
  margin-top: 1.25rem;
  animation: fromBottom 800ms 600ms backwards;
}

@keyframes fromTop {
  from {
    opacity: 0;
    transform: translateY(-6.25rem);
  }
}

@keyframes fromBottom {
  from {
    opacity: 0;
    transform: translateY(6.25rem);
  }
}
